body {
	text-align: center;
	width: 80%;
  margin: 0 auto;
}
/**************************/
/*     ZONE DU HEADER     */
/**************************/

header {
	position: relative;
	height: 200px;
	border: 5px solid #CCC;
	box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
}

header img{
	height: 200px;
	left: 2%;
	position: absolute;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	text-decoration: underline;
	margin: 3%;
}

header p {
	width: 50%;
	margin: 0 auto;
}

#option2 {
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 5em;
	height: 3em;
}

/**************************/
/*     ZONE DU BUTTONS    */
/**************************/

#start {
  background-color: #B5E655;
  border: 2px solid #96CA2D;
  display: inline-block;
  width: 500px;
  font-weight: bold;
  font-size: 1.5em;
  margin: 15px;
  border-radius: 25px;
  color: #002F2F;
}

#start:hover {
  cursor: pointer;
}

/**************************/
/*      ZONE DU MAIN      */
/**************************/

main {
  margin: 0 auto;
  border: 5px solid #CCC;
  width: 90%;
  box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
  padding-bottom: 2%;
}

#containerProcess {
  position: relative;
}

main h2 {
  text-align: left;
  text-decoration: underline;
  margin-left: 50px;
  font-weight: bold;
}

main .process {
  display: inline-block;
  font-size: 3em;
  width: 10%;
  border: 1px solid #CCC;
  text-align: center;
}

#userResult {
  display: inline-block;
  font-size: 3em;
  width: 15%;
  border: 1px solid #CCC;
  text-align: center;
}

#containerProcess .reponse {
  position: absolute;
  width: 10%;
  font-size: 3.5em;
  right: 30%;
  transform: rotate(-30deg);
  top: 30%;
  opacity: 0.5;
}

#true {
  color: #96CA2D;
  visibility: hidden;
}

#false {
  color: #C10100;
  visibility: hidden;
}

#solution {
  margin-top: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
  visibility: hidden;
}

#containerProcess button {
  font-size: 1.5em;
  width: 150px;
  height: 40px;
  right: 4%;
}

#validation {
  cursor: pointer;
  background-color: #B5E655;
  border: 2px solid #96CA2D;
  display: inline-block;
  visibility: hidden;
}

#timer {
  position: absolute;
  right: 15%;
  font-size: 2.5em;
  /*visibility: hidden;*/
}

/**************************/
/*      TABLEAU SCORE     */
/**************************/

#arrayScore {
  margin: 30px auto;
  border: 5px solid #CCC;
  width: 100%;
  box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
}

table{
  border-collapse: collapse;
  width: 80%;
  margin: 10px auto;
  border: 2px solid #000;
}

thead {
  background-color: #046380;
  color: #FFF;
  font-weight: bold;
}

td {
  width: 5%;
  border: 1px solid #CCC;
}

table .good {
  background-color: #B5E655;
}

table .bad {
  background-color: #FF483D;
}

/**************************/
/*      ZONE D'OPTION     */
/**************************/

#menuOption {
  background-color: #C79F4B;
  /*width: 50%;*/
  padding: 1% 5%;
  border-radius: 50px;
  top: 50%;
  margin-top: -159px;
  position: fixed;
  left: 50%;
  margin-left: -460px;
  border: 5px solid #570906;
  display: none;
}

form fieldset {
  font-size: 1.3em;
  font-weight: bold;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

form img {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

#choiseOption {
  margin: 0 0 15px;
  font-weight: bold;
}

form legend {
  margin-bottom: 5%;
}

.bouttonsOption input {
  color: #FFF;
  background-color: #570906;
  height: 44px;
  width: 150px;
  margin: 0 15px;
  border: solid 2px #663E10;
}
