body {
	text-align: center;
	width: 80%;
  margin: 0 auto;
}
/**************************/
/*     ZONE DU HEADER     */
/**************************/

header {
	position: relative;
	height: 200px;
	border: 5px solid #CCC;
	box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
}

header img{
	height: 200px;
	left: 2%;
	position: absolute;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	text-decoration: underline;
	margin: 3%;
}

header p {
	width: 50%;
	margin: 0 auto;
}

/**************************/
/*    ZONE DES BUTTONS    */
/**************************/
#container button {
  font-weight: bold;
  font-size: 1.5em;
  width: 300px;
  margin: 15px;
  border-radius: 25px;
  color: #002F2F;
}

#start {
  background-color: #B5E655;
  border: 2px solid #96CA2D;
  display: inline-block;
}

#stop {
  background-color: #E00000;
  border: 2px solid #C10100;
  display: none;
}

/**************************/
/*      ZONE DU MAIN      */
/**************************/

main {
  margin: 0 auto;
  border: 5px solid #CCC;
  width: 90%;
  box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
  padding-bottom: 2%;
}

#containerProcess {
  position: relative;
}

main h2 {
  text-align: left;
  text-decoration: underline;
  margin-left: 50px;
  font-weight: bold;
}

main .process {
  display: inline-block;
  font-size: 3em;
  width: 10%;
  border: 1px solid #CCC;
  text-align: center;
}

#userResult {
  display: inline-block;
  font-size: 3em;
  width: 15%;
  border: 1px solid #CCC;
  text-align: center;
}

#containerProcess .reponse {
  position: absolute;
  width: 10%;
  font-size: 3.5em;
  right: 30%;
  transform: rotate(-30deg);
  top: 30%;
  opacity: 0.5;
}

#true {
  color: #96CA2D;
  visibility: hidden;
}

#false {
  color: #C10100;
  visibility: hidden;
}

#solution {
  margin-top: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
  visibility: hidden;
}
#containerProcess button {
  font-size: 1.5em;
  width: 150px;
  height: 40px;
  right: 4%;
}

#validation {
  background-color: #B5E655;
  border: 2px solid #96CA2D;
  /*display: inline-block;*/
  display: none;
}

#next {
  display: none;
}

#cpt {
  position: absolute;
  right: 15%;
  font-size: 2.5em;
  visibility: hidden;
}

/**************************/
/*      TABLEAU SCORE     */
/**************************/

#arrayScore {
  margin: 30px auto;
  border: 5px solid #CCC;
  width: 100%;
  box-shadow: 2px 2px 10px 5px #C4D7ED;
  border-radius: 10%;
}

table{
  border-collapse: collapse;
  width: 80%;
  margin: 10px auto;
  border: 2px solid #000;
}

thead {
  background-color: #046380;
  color: #FFF;
  font-weight: bold;
}

td {
  width: 5%;
  border: 1px solid #CCC;
}

table .good {
  background-color: #B5E655;
}

table .bad {
  background-color: #FF483D;
}
